//# Uses //
@use '../../Shared/styles/default/layout' as layout;

.recentlyadded {
    display: flex;
    width: 100%;

    justify-content: center;

    &__result {
        margin-top: 20px;
        max-width: layout.$layout-default-width;
    }
}