//# Use //
@use '../../Shared/styles/mixins/no-select' as no-select;
@use '../../Shared/styles/default/border-radius' as border-radius;
@use '../../Shared/styles/default/text' as text;
@use '../../Shared/styles/default/layout' as layout;
@use '../../Shared/styles/default/header' as header;

$text-shadow: 0px 0px 10px var(--text-color);

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin-bottom: 25px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__bg-img {
        position: fixed;
        top: -10px;
        left: -10px;

        width: calc(100vw + 10px);
        height: calc(101vh + 10px);

        object-fit: cover;
        filter: brightness(70%) blur(0.5vw);
        z-index: -1;

        @include no-select.no-select;
    }

    &__img {
        border-radius: border-radius.$border-radius;
        width: 200px;
        height: 100%;

        box-shadow: 0px 0px 10px var(--box-shadow);

        @include no-select.no-select;
    }

    &__header {
        display: flex;
        align-items: center;

        margin-top: header.$height-size + 25px;
        width: layout.$layout-default-width;
        height: 300px;

        gap: 20px;

        &__content {
            display: flex;
            flex-direction: column;
            width: 75%;
            height: 100%;
        }



        &__meta {
            display: flex;
            flex-direction: column;

            height: 85%;

            &-name {
                margin: 0;

                color: var(--color1);
                text-shadow: $text-shadow;
                font-size: text.$font-size1;
            }

            &-author {
                margin: 0;

                display: flex;
                height: fit-content;

                color: var(--color4);
                text-shadow: $text-shadow;
                font-size: text.$font-size5;

                margin-top: 8px;
            }
        }

        &__buttons {
            display: flex;
            width: 100%;
            height: 15%;
            gap: 17px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;

        height: fit-content;
        width: layout.$layout-default-width;
        margin-top: 25px;
        margin-bottom: 25px;

        background:
            linear-gradient(to bottom,
                var(--color1),
                color-mix(in srgb, var(--color1) 80%, transparent 20%));

        border-radius: border-radius.$border-radius;

        &__synopsis {
            display: flex;
            justify-content: center;

            width: 95%;
            height: 20%;
            height: fit-content;

            margin-top: 25px;

            text-align: justify;
        }

        &__line {
            display: flex;
            height: 2px;
            width: 95%;

            margin-top: 12.5px;
            margin-bottom: 12.5px;

            background-color: var(--color2);

            border: none;
        }

        &__container {
            display: flex;
            justify-content: space-between;

            width: 95%;
            height: 80%;

            margin-bottom: 25px;

            gap: 5%;
        }

        &__meta {
            list-style: none;
            padding: 0;
            margin: 0;

            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;

            width: fit-content;
            height: fit-content;
            gap: 15px;

            &-group {
                display: flex;
                flex-direction: column;
            }

            &-label {
                height: fit-content;
                margin: 5px 0 10px 0;
                font-size: text.$font-size5;
                font-weight: bold;
            }

            &-list {
                list-style: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-wrap: wrap;

                width: 100%;
                height: 50%;

                gap: 5px;
            }

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 15px;

                width: fit-content;
                min-width: 55px;

                padding: 5px 8px;

                border-radius: border-radius.$border-radius;
                background-color: var(--color3);



                &-text {
                    text-align: center;
                    font-size: text.$font-size6;
                    color: var(--color1);
                }
            }
        }

        &__chapters {
            &-list {
                list-style: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;

                width: 60%;
                height: 100%;

                gap: 25px;

                &-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: 50px;

                    border-radius: border-radius.$border-radius;
                    background-color: var(--background-color);

                    box-shadow: 0px 0px 3px var(--color2);
                }

                &-txt {
                    font-size: text.$font-size6;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }

        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 7px;
        box-shadow: 0px 0px 10px var(--box-shadow);

        width: 17.5%;
        height: 100%;

        &-icon {
            color: var(--color1);
            font-size: text.$font-size5;
        }

        &-txt {
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--color1);
            white-space: nowrap;
            font-weight: bold;
            font-size: text.$font-size5;
        }
    }

}