//# Uses //
@use '../../Shared/styles/default/header' as header;
@use '../../Shared/styles/default/layout' as layout;

.chaptertranslation {
    &__pages {
        display: flex;
        justify-content: center;

        width: layout.$layout-default-width;
        height: 100vh;

        margin: auto;

        &__container {
            position: relative;

            display: flex;
            align-items: center;

            width: 52.8%;
            height: 100%;
        }

        &__img {
            width: 100%;
        }

        &__button {
            position: absolute;
            top: 0;

            height: 100%;

            background-color: red;

            margin: 0;
            padding: 0;
            opacity: 0;
            border: none;
            cursor: pointer;


            &--left {
                @extend .chaptertranslation__pages__button;
                width: 32.5%;
                left: 0;
            }

            &--center {
                @extend .chaptertranslation__pages__button;
                width: 35%;
                left: 50%;
                transform: translateX(-50%);
            }

            &--right {
                @extend .chaptertranslation__pages__button;
                width: 32.5%;
                right: 0;
            }
        }
    }
}