//# Uses //
@use '../../Shared/styles/default/header' as header;
@use '../../Shared/styles/default/layout' as layout;

.chaptertranslation {
    &__pages {
        display: flex;
        justify-content: center;

        width: layout.$layout-default-width;

        padding-top: 10px;
        margin: auto;

        &__container {
            position: relative;
            width: 52.8%;
        }

        &__img {
            width: 100%;
        }

        &__button {
            position: absolute;
            top: 0;

            height: 100%;
            width: 40%;

            margin: 0;
            padding: 0;
            opacity: 0;
            border: none;
            cursor: pointer;

            &--left {
                @extend .chaptertranslation__pages__button;
                left: 0
            }

            &--right {
                @extend .chaptertranslation__pages__button;
                right: 0;
            }
        }
    }
}