$light-theme: (
    //.. Background
    background-color: rgb(205, 210, 225),
    //.. Colors 
    color1: rgb(235, 240, 250),
    color2: rgb(145, 165, 175),
    color3: rgb(5, 165, 240),
    color4: rgb(140, 210, 240),
    color5: rgb(0, 135, 200),
    color6: rgb(14, 13, 13),

    //.. Text
    text-color: black,
    //.. Icon
    icon-color: rgb(0, 0, 0),

    //.. Others
    box-shadow: rgba(0, 0, 0, 0.75),
    weak-box-shadow: rgba(0, 0, 0, 0.10),

    true: rgb(0, 175, 0),
    true-transparent: rgba(0, 175, 0, 0.2),

    false: rgb(220, 0, 0),
    false-transparent: rgba(220, 0, 0, 0.2),
    )