//# Use //
@use '../../../Shared/styles/mixins/no-select' as no-select;
@use '../../../Shared/styles/default/layout' as layout;
@use '../../../Shared/styles/default/text' as text;
@use '../../../Shared/styles/default/border-radius' as border-radius;
@use '../../../Shared/styles/default/title-categories' as title-categories;
@use '../../../Shared/styles/default/transition-time' as transition-time;

.featuredtitles {
    position: relative;

    display: flex;
    width: layout.$layout-default-width;
    overflow: hidden;

    &__track {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        transition: transform transition-time.$transition-time * 2 ease;
    }

    &__slide {
        margin: 0;
        padding: 0;
        
        flex: 0 0 100%;
    }

    &__buttons {
        position: absolute;
        bottom: 0;
        right: 8%;

        display: flex;
        justify-content: space-between;

        width: 10%;
        min-width: 75px;

        &__button {
            background: none;
            border: none;

            display: flex;
            align-items: center;

            width: 50%;
            height: 2rem;

            color: var(--color1);
            font-size: text.$font-size5;

            border-radius: border-radius.$border-radius;

            transition: filter transition-time.$transition-time ease;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
            }

            &--left {
                @extend .featuredtitles__buttons__button;
                justify-content: flex-start;
            }

            &--right {
                @extend .featuredtitles__buttons__button;
                justify-content: flex-end;
            }
        }
    }

    &__card {
        display: flex;
        gap: 20px;

        &__img {
            height: 100%;
            width: 20%;
            border-radius: border-radius.$border-radius;
            @include no-select.no-select;
        }

        &__section {
            display: flex;
            flex-direction: column;

            width: 70%;

            gap: 10px;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-wrap: wrap;

            gap: 5px;
        }

        &__name {
            margin: 0;
            font-size: text.$font-size2;
        }

        &__synopsis {
            font-size: text.$font-size5-5;
        }

        &__contentRating {
            @include title-categories.cat-contentRating('medium');
        }

        &__demographic {
            @include title-categories.cat-demographic('medium');
        }

        &__genre {
            @include title-categories.cat-genre('medium');
        }

        &__theme {
            @include title-categories.cat-theme('medium');
        }

        &__authors {
            margin: 0;
            min-width: 85%;

            color: var(--color1);
            font-weight: bold;
            font-size: text.$font-size5;
        }
    }

}