//# Uses //
@use '../../../Shared/styles/default/input' as input;
@use '../../../Shared/styles/utils' as utils;


.input {
    @include input.input-style;

    &-icon-container {
        @include input.input-style-padding;
        @include input.input-style-border;
        @include input.input-style-background;

        display: flex;
        align-items: center;

        svg {
            width: 7%;
        }

        input {
            border: none;

            width: 100%;
            height: 100%;

            &:focus {
                border: none;
            }
        }

        &:focus-within {
            @include input.input-style-focus;
        }
    }

}