//# Uses //
@use '../../../Shared/styles/default/border-radius' as border-radius;

.radioinput {

    &-label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &-input {
        appearance: none;
        margin: 0;


        width: 0.85em;
        height: 0.8em;

        border-radius: border-radius.$radio-input;
        border: 1px solid var(--color2);

        &--checked {
            border: 1px solid var(--color3);
            background-color: var(--color3);
        }
    }

    &-text {
        &--checked {
            color: var(--color3)
        }
    }
}