//# Use //
@use '../../Shared/styles/default/border-radius' as border-radius;
@use '../../Shared/styles/default/preview' as preview;

.img {
    width: 100%;
    height: 100%;
    font-size: 0;

    &__container {
        position: relative;
    }

    &__preview {
        position: absolute;
        width: 100%;
        height: 100%;

        @include preview.preview-background();
    }

    &__borderRadius {
        border-radius: border-radius.$border-radius;
    }
}