//# Use //
@use '../../Shared/styles/default/text.scss' as text;
@use '../../Shared/styles/mixins/no-select' as no-select;

.text {
    display: flex;
    color: text.$cor;

    &-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    &-paragraph {
        &-div {
            display: flex;
            flex-direction: column;

            gap: 20px;
        }

        &-element {
            margin: 0;
        }
    }

    &-title {
        font-size: text.$font-size4;
        font-weight: 1000;
    }

    &-margin {
        margin: 10px;
    }

    &-no-select {
        @include no-select.no-select;
    }

    &-not-exceed {
        &-x {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 0;
            min-width: 100%;
        }

        &-y {
            position: relative;
            max-height: 9.5em;
            overflow: hidden;
        }
    }
}